#root{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.input{
  display:flex;
  flex-direction: row;
  margin-top: 60px;
}
h1{
  text-align: center;
  color: white;
  min-width: 50%;
  max-width: 50%;
  background-color: black;
}
body{
  background-image: url(https://images.unsplash.com/photo-1604719312566-8912e9227c6a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Z3JvY2VyeSUyMHN0b3JlfGVufDB8fDB8fA%3D%3D&w=1000&q=80);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
.card{
  min-width: 50%;
  display: flex;
  align-items: center;
}
.items{
  min-width: 50vh;
}